<!doctype html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta charset="utf-8">
<title>show data</title>
<link rel="stylesheet" href="homeanimation.css">

</head>
<body>
	<div id="content">
		<div id="homeanimation">
			<div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<img src="home-animation-back.jpg"/>
			<div>
				<img id="scaleanimation" src="scale.png"/>
				<img id="cancelanimation" src="shutdown.png"/>
			</div>
				
		</div>
	</div>	
<script src="jquery-2.1.1.js"></script>	
<script src="homeAnimation.js"></script>
</body>
</html>