*{padding: 0;border: none;margin: 0;}





#circle{width: 500px; height: 500px; margin:50px;position: relative;background-color: red;background-image: url(../../../../images/circle-gif/circle.gif); }








